<div class='row'>
  <div class='col-12 grid-margin'>
    <div class='card'>
      <div class='card-body'>
        <h4 class='card-title'>Licence Keys</h4>
        <div class='table-responsive'>
          <table class='table'>
            <thead>
              <tr>
                <th>
                  <div class='form-check form-check-muted m-0'>
                    <label class='form-check-label'>
                      <input type='checkbox' class='form-check-input' />
                      <i class='input-helper'></i></label>
                  </div>
                </th>
                <th> Key </th>
                <th> Start Date </th>
                <th> End Date </th>
                <th> Status </th>
              </tr>
            </thead>
            <tbody>

              {{#each licenceKeys}}
                {{#dataValues}}
                  <tr>
                    <td>
                      <div class='form-check form-check-muted m-0'>
                        <label class='form-check-label'>
                          <input type='checkbox' class='form-check-input' />
                          <i class='input-helper'></i></label>
                      </div>
                    </td>

                    <td> {{key}} </td>

                    {{#with subscription}}
                      {{#dataValues}}
                        <td> {{createdAt}} </td>
                        {{#if expiredAt}}
                          <td> {{expiredAt}} </td>
                        {{else}}
                          <td> No activated </td>
                        {{/if}}
                        <td>
                          <div
                            class='badge badge-outline-success'
                          >{{status}}</div>
                        </td>
                      {{/dataValues}}
                    {{/with}}

                  </tr>
                {{/dataValues}}
              {{/each}}

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>